annotated-types==0.7.0
anyio==4.14.1
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
distro==1.9.0
evdev==1.9.3
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
jiter==0.15.0
keyboard==0.13.5
libtmux==0.58.1
numpy==2.5.0
openai==2.44.0
platformdirs==4.10.0
PyAudio==0.2.14
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
pynput==1.8.2
python-xlib==0.33
pywhispercpp @ git+https://github.com/absadiki/pywhispercpp@f3b74543dd2bfd743665d074ffb6bb6d7b2e4382
requests==2.34.2
scipy==1.18.0
six==1.17.0
sniffio==1.3.1
sounddevice==0.5.5
tqdm==4.68.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
